@import "konsole.less";
/* #! TODO: this should be in some sort of isolated class */
/*
[uc-state] {
  filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
}
*/

/* temporary putting the css for tabs here */

ur-tabs.uc.default {
  .tab-wrapper { height: 100%; }
  .tab-anchors a {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    &.active { text-decoration: underline; }
  }
  ur-tab {
    border: 1px solid;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    padding: 5px;
    width: 650px;
  }
  .link {
    cursor: pointer;
    display: block;
    font-size: 2em;
    margin-top: -0.5em;
    padding: 0.5em 0.25em ;
    position: absolute;
    top: 50%;
    &.link-next { right: 0 }
    &:hover { background: rgba(0,0,0,0.2); }
  }
  .diff-title {
    background: rgba(220,220,220,0.5);
    bottom: 0;
    right: 0;
    padding: 0.5em 0.25em ;
    position: absolute;
    &:hover { background: #ddd }
  }
}

ur-tab {
  display: block;
  &.hidden { display: none; }
}

ur-tabs.uc { /* currently only used */
  pre {
    .added { background: #ddffdd; }
    .removed { background: #ffdddd; }
  }
  .flexy {
    display: flex;
    .col-6 { flex-basis: 50%; }
  }
}