@tab-height: 32px;
konsole button {
  height: @tab-height;
  line-height: @tab-height - 2;
  padding: 0 5px;
}

@media print {
  konsole {
    display: none !important;
  }
}

konsole {
  * { box-sizing: border-box; }
  display: flex;
  flex-flow: column;
  top: 100%; /* offscreen unless konsole.open */
  height: @tab-height;
  margin-top: -@tab-height;
  overflow-y: auto;
  position: fixed;
  right: 0;
  width: 500px;
  z-index: 99999; /* 100,000 is the ur-modal z-index */
  ur-tabs {
    background: rgba(200,200,200,0.8);
    flex-basis: 100%;
    height: 100%;
  }
  ur-tabs.default {
    padding-top: @tab-height;
    .tab-anchors {
      left: @tab-height;
      right: @tab-height;
      position: absolute;
      top: 0;
      a {
        background: rgba(255,255,255,0.8);
        height: @tab-height;
        padding: 0 10px;
        line-height: @tab-height - 2px;
      }
    }
    ur-tab { height: 100%; width: 100%; }
  }
  [data-lineno]:before {
    content: attr(data-lineno);
    display: inline-block;
    padding-right: 5px;
    text-align: right;
    width: 2em;
  }
  [data-ms] {
    position: relative;
    padding-left: 75px;
    &:after {
      border-right: 1px rgba(0,0,0,0.5)  solid;
      content: attr(data-ms);
      display: inline-block;
      left: 0;
      margin-right: 5px;
      padding-right: 5px;
      position: absolute;
      width: 75px;
    }
  }
  [data-ms="START"] {
    border-top: 1px solid rgba(0,0,0,0.9);
    font-weight: bold;
    margin-top: 3px;
    padding-top: 3px;
  }
  [data-lineno="0"] { border-top: 0; }
  .toggle-konsole {
    left: 0;
    &:before { content: "vv" }
  }
  .close-konsole {
    right: 0;
    &:before { content: "X" }
  }
  .toggle-konsole, .close-konsole {
    position: absolute;
    text-align: center;
    top: 0;
    width: @tab-height;
  }
}

konsole.open {
  top: 0;
  height: 100%;
  margin-top: 0;
}

konsole.closed {
  width: auto;
  .toggle-konsole {
    position: static;
    &:before { content: "uC"; }
  }
  ur-tabs, .close-konsole { display: none; }
}

konsole {
  .pointer {
    border-bottom: 2px solid;
    cursor: pointer;
    display: inline-block;
    &.fa { border-bottom: none; }
  }
  .passed, .complete, .ksuccess, .success { /* #! TODO reconcile .k classses */
    background: #AAFFAA;
  }
  .kwarn, .kwarning, .warning, .warn { /* #! TODO reconcile .k classses */
    background: #fcf8e3;
    .fa { color: #8a6d3b; }
  }
  .failed, .kerror, .error { /* #! TODO reconcile .k classses */
    background: #e88;
    .fa { color: #a94442; }
  }
  .running {
    background: #AAAAFF;
    .fa { color: #4244a9; }
  }
  .u { text-decoration: underline; }
}

konsole { /* word like classes in log */
  .function { color: blue; }
  .dataURL { color: green; background: rgba(0,255,0,0.05); }
  .element {
    color: green;
    font-family: monospace;
    font-weight: bold;
    &:before { content: "<"; }
    &:after { content: ">"; }
  }
  .undefined {
    font-style: italic;
    font-weight: bold;
  }
  .HTMLElement {
    background: white;
  }
  .diff {
    background: white;
    color: red;
  }
}
