uc-command {
  .ur-accord-header {
    line-height: 1.2;
    margin-bottom: 0.25rem;
    .right { float: right; }
  }
  .ur-accord-content {
    border-left: 3px solid lightgray;
    margin-left: 0.25rem;
  }
}

uc-command { /* line status classes */
  .passed, .complete, .ksuccess, .success { /* #! TODO reconcile .k classses */
    background: #AAFFAA;
  }
  .kwarn, .kwarning, .warning, .warn { /* #! TODO reconcile .k classses */
    background: #fcf8e3;
    .fa { color: #8a6d3b; }
  }
  .failed, .kerror, .error { /* #! TODO reconcile .k classses */
    background: #e88;
    .fa { color: #a94442; }
  }
  .running {
    background: #AAAAFF;
    .fa { color: #4244a9; }
  }
}

uc-command .ur-accord {
  padding-bottom: 0.25rem;
}

.ur-accord {
  position: relative;
  > .ur-accord-content { display: none; }
  > .ur-accord-toggle:before { content: "[+]"; }
  &.open {
    > .ur-accord-content { display: block; }
    > .ur-accord-toggle:before { content: "[-]" }
  }
  .ur-accord-toggle {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
  }
  .ur-accord-header {
    padding-left: 2em;
  }
}