ur-command {
  .ur-accord-header {
    .right { float: right; }
  }
  .ur-accord-content {
    border-left: 3px solid lightgray;
    margin-left: 0.25rem;
  }
}

ur-command {
  li {
    .word { margin-left: 0.25rem }
  }
}

ur-command .block {
  padding-bottom: 0.25rem;
}

.ur-accord {
  &.closed {
    > .ur-accord-header .ur-accord-close, > .ur-accord-content { display: none; }
  }
  &:not(.closed) > .ur-accord-header .ur-accord-open { display: none; }
}